body {
    width: 100%;
    height: 100%;
    /* text-align: center; */
    overflow: hidden;
    font-size: 24px;
    /* background-color: black; */
    color: #fff;
    background: url("./src/pexels-sebastiaan-stam-1480693.jpg") no-repeat fixed;
    background-size: cover;
    /* align-items: center; */
}

div {
    /* text-align: center; */
    padding: 5px;
}

h1 {
    text-align: center;
}

label {
    padding-left: 60px;
}

input {
    margin-left: 60px;
    width: 370px;
    height: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form {
    margin: 10% 5%;
    border: 2px solid black;
    box-shadow: 5px 5px 10px grey;
    width: 500px;
    height: 550px;
    align-items: center;
    backdrop-filter: blur(20px);
    /* animation: borderAnimation 2s infinite; */
}

/* @keyframes borderAnimation {
    0% {
        border-color: red;
        box-shadow: 5px 5px 10px red;
    }

    50% {
        border-color: blue;
        box-shadow: 5px 5px 10px blue;
    }

    100% {
        border-color: green;
        box-shadow: 5px 5px 10px green;
    }
} */

button {
    width: 70px;
    height: 35px;
    font-size: 18px;
}

button:hover {
    background-color: black;
    color: white;
    box-shadow: 2px 2px 5px grey;
    /* animation: borderAnimation 2s infinite; */
}

.button {
    margin: 10px 10px 10px 150px;
    padding: 20px;
}

#uname,
#emailId,
#contactNo,
#pass,
#pass2 {
    visibility: hidden;
    font-size: 14px;
    color: red;
    text-align: right;
    padding: 10px;
}